@font-face {
    font-family: 'Huninn';
    src: url('~@/assets/fonts/jf-openhuninn-1.1.ttf') format('ttf'),
        url('~@/assets/fonts/jf-openhuninn-1.1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cavorting';
    src: url('~@/assets/fonts/FontsFree-Net-Cavorting.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
